body {
    display: flex;
    flex-direction: column;
    margin: 0;
    border: 0;
}

.section-one{
    background-color: #1f2937;
    margin: 1;
}

.header{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin: 0% 6%;
}

.logo{
 color: #f9faf8;
 font-size: 24px;
 font-weight: bold;
}

.links{
font-size: 18px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}


ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6%;
    padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  width: 550px;
  border-style:solid;
  border-color: #e5e7eb;
  border-radius: 7px;
}

.text {
    width: 400px;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.herotext {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext{
    color: #e5e7eb;
    font-size: 18px;
    font-weight: normal;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    font-weight: bold;
    padding: 4px 22px;
    border-style: none;
    border-radius: 7px;
}

.information {
    text-align: center;
    margin: 20px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.info img {
    width: 280px;
    height: 200px;
    border: #3882f6;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);   
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
  }
  
.info {
    max-width: 300px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 6%;
  }

  .imgtext{
    color: #1f2937;
    font-size: 18px;
  }

  .section-three{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
  }

  .quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    max-width: 550px;
    flex-wrap: wrap;
    margin: 6%;
  }

  .quote {
    font-size: 36px;
    font-weight:100;
    font-style: italic;
    color: #1F2937;
  }

  .signature {
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    color: #1F2937;
  }

  .section-four {
    display: flex;
    justify-content: center;
    margin: 6%;
  }

  .signup {
  background: #3882f6;
  width: 1300px;
  border-radius: 10px;
  display: flex;
  gap: 12px;
  padding: 40px 60px;
  justify-content: space-between;
  }

  .signup .button {
    display: flex;
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 0px 22px;
    font-weight: bold;
    border-radius: 7px;
    border-style: solid;
    border-color: #e5e7eb;
  }

  .footer {
    height: 80px;
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e5e7eb;
    font-weight: bold;
    font-size: x-large;
  }

